# dependencies
node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# env files (contém senhas e chaves!)
.env
.env.*
!.env.example

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts

# debug
npm-debug.log*

# data
/data/
.vercel
